form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  max-width: 400px;
}

input.ng-invalid.ng-touched {
  border-color: red;
}

input.ng-valid.ng-touched {
  border-color: green;
}
